{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
          <div class="card">
            <div class="card-body">
            <h4 class="card-title">Калькулятор калорий</h4>

            <form method="post">
                {% csrf_token %}
                <input type="text" list="list" placeholder="Что скушал?" name="food" class="form-control">
                <datalist id="list">
                    {% for food in form.food %}
                        <option>{{ food }}</option>
                    {% endfor %}
                </datalist>
                <input type="text" placeholder="Сколько скушал? (в граммах)" name="weight_eaten"
                           value="{% if form.weight_eaten.value %}{{ form.weight_eaten.value }}{% endif %}"
                           class="form-control {% if form.errors %} is-invalid {% endif %}">
                <input type="text" placeholder="Когда скушал?" name="eating_time"
                       value="{% if form.eating_time.value %}{{ form.eating_time.value }}{% endif %}"
                       class="form-control {% if form.errors %} is-invalid {% endif %}">
            <button type="submit" class="btn btn-primary btn-block">Посчитать</button>
            </form>
            </div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}