{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="container">
    <div  class="row justify-content-center">
      <div  class="col-4">
          <div class="card">
            <div class="card-body">
            <h4 class="card-title">Калькулятор калорий</h4>
            <form method="get" action="/calculator">
                <input id="selected" autocomplete="off" type="text" list="list" placeholder="Что скушал?" name="food"
                       value="{% if form.food.value %}{{ form.food.value }}{% endif %}"
                       class="form-control {% if form.food.errors %} is-invalid {% endif %}">
                <datalist id="list">
                    {% for food in form.food %}
                        <option>{{ food }}</option>
                    {% endfor %}
                </datalist>
                <input autocomplete="off" type="text" placeholder="Сколько скушал?(в граммах)" name="weight"
                       value="{% if form.weight.value %}{{ form.weight.value }}{% endif %}"
                       class="form-control {% if form.weight.errors %} is-invalid {% endif %}">
            <button type="submit" class="btn btn-primary btn-block">Посчитать</button>
                {% if calories %}
                <br>
                <label>Содержит {{ calories }} калорий</label>
                {% endif %}
            </form>
            </div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}