{% extends 'base.html' %}

{% block navigation %}
    {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <li class="navbar-link"><a href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    {% else %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {% if form.errors %}
                    <span class="text-danger">Неверное имя пользователя или пароль</span>
                {% endif %}
                <form method="post" class="form-inline">
                {% csrf_token %}
                    <input type="text" placeholder="имя пользователя" name="username"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                           class="form-control {% if form.errors %} is-invalid {% endif %}">
                    <input type="password" placeholder="пароль" name="password"
                           value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                           class="form-control {% if form.errors %} is-invalid {% endif %}">
                    <button class="btn btn-success" type="submit">Войти</button>
                </form>
            </li>
            <li>
                <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block main %}
{% for category, foods in category_food.items %}
<div class="container">
    <div class=" container col-8">
        <table class="table table-striped table-sm">
            <caption>{{ category }}</caption>
                <tr>
                    <th>Продукт</th>
                    <th width=30%>Калорийность</th>
                </tr>
            {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{{ food.calories }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}