{% extends 'base.html' %}
{% block main %}
<!--<a href="{% url 'login' %}">Войти</a>-->
<!--<a href="{% url 'logout' %}">Выйти</a>-->
{% for category, foods in category_food.items %}

    <table>
        <caption>{{ category }}</caption>
            <tr>
                <th>Продукт</th>
                <th width=30%>Калорийность</th>
            </tr>
        {% for food in foods %}
        <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.calories }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}