{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <table class="table table-bordered" >
                <tbody>
                {% for date, calories in date_calories.items %}
                    <tr>
                        <td><a href="#">{{ date }}</a></td>
                        <td>{{ calories }} калорий</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>

{% endblock %}